<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Vrrb: Real-time VR trains</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-startup-image" href="/splash.png" />
  <link rel="apple-touch-icon" href="/icon.png" />
  <link rel="stylesheet" href="vrrb.css" />
  <link rel="stylesheet" href="chosen/chosen.css" />
</head>
<body>
  <h1>Vrrb: Real-time VR trains</h1>
  <form action="showtrains" method="get">
  From<br/>
  <select id="from" name="from" class="chzn-select">
      <% @stations.each do |station| %>
      <%= if (station == @default_from) then "<option selected>" else "<option>" end %>
          <%= station.name %>
      </option>
      <% end %>
  </select>
      <br/>
  To<br/>
  <select id="to" name="to" class="chzn-select">
      <% @stations.each do |station| %>
      <%= if (station == @default_to) then "<option selected>" else "<option>" end %>
          <%= station.name %>
      </option>
      <% end %>
  </select>
  <br/>
  <input class="button" type="submit" value="Find">
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="chosen/chosen.jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript"> $(".chzn-select").chosen();</script>
  </form>
</body>
</html>
