<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Juna-aikataulut</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-startup-image" href="/splash.png" />
  <link rel="apple-touch-icon" href="/icon.png" />
  <style type="text/css">
    body {
      font-family: helvetica, arial;
      font-size: 15px;
      margin: 0px;
      padding: 0px;
    }
    h1 {
      padding-left: 5px;
    }
    h1,h2,h3 {
      font-size: 16px;
    }
    h2 {
      width: 100%;
      background-color: #444;
      color: white;
      margin: 0px;
    }
    h2 .pad {
      padding: 10px;
    }
    h2 a {
      text-decoration:none;
    }
    h2 .dep-time {
      font-size: 24px;
      background-color: #eee;
      color: black;
      border-radius: 4px;
      padding: 4px;
    }
    h2 .train, h2 .late-info {
      font-size: 30px;
      color: white;
      padding-left: 10px;
    }
    div.traininfo {
      background-color: #eee;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    div.traininfo .late-info {
      color: #f00;
    }
    p {
      margin-left: 10px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .no-info {
      color: #888;
      font-weight: normal;
    }
    .update-info {
      color: #888;
    }
    .departure-time, .last-location {
      font-weight: bold;
    }
    ul.bottom-links {
      border-bottom: 1px solid #888;
      border-top: 1px solid #888;
      background-color: #ddd;
      margin: 0px;
    }
    ul.bottom-links a {
      color: black;
      font-size: 16px;
    }
    ul.bottom-links li {
      color: black;
      font-size: 16px;
      padding: 2px;
    }
  </style>
</head>
<body>
  <h1>
    Juna-aikataulut
  </h1>
  <ul>
    <% @routes.each do |name| %>
    <li><a href="trains/<%=name%>"><%=name%></a></li>
    <% end %>
  </ul>
  <ul class="bottom-links">
    <li><a href="http://service.vr.fi/juku/haku.action?lang=fi&junalaji=ll">Suorat haut VR:lt&auml</a></li>
  </ul>
</body>
</html>
